h1{
    color: #2D1A43;
    background-color: #5C6B82;
    text-align: center;
    font-size: 50px;
}

h2{
    color: #2D1A43;
    background-color: #5C6B82;
    text-align: center;
}

h3{
    color: #2D1A43;
    background-color: #5C6B82;
}

h4{
    color: #2D1A43;
    background-color: #5C6B82;
}
p{
    background-color: #A99BB8;
    color: #334866;
}