.container {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 540px) {
    .container {
        flex-direction: row;
    }

    .d {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
    .d {
        display: flex;
    }
}
